ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 1em;
}

.icon-container {
    display: inline-flex;
    justify-content: center;
    width: 1em;
}

.collapse {
    overflow: hidden;
}